
<div id="confirm-area">
    <div class="confirm-box">

        <p id="caution-message"> Are you sure, you want delete this password? </p>

        <div class="options">
            <button id="del-confirm" class="confirm-button sub" onclick="confirmPassDeletion()"> Delete </button>
            <button class="confirm-button cancel" onclick="back()"> Cancel </button> 
        </div>

    </div>
</div>


<div id="info-box">
    Copied to clipboard
</div>


<div class="content">

    <div class="row-aligner">
    
        <div id="tools">

            <div id="title-area"> <%= pass_con.name %> </div>
            
            <button id="add-pass" class="tool-button" onclick="newPass()"> <img src="./imgs/tools/plus.png" class="tool-img" id="add-img" /> Add Password </button>
            <div class="add-tools-hider" id="hider">
                <form action='/subPass' method="POST" class="add-tools">
                        
                    <div class="input-line"> <label> Password Title </label> <input name="title" class="add-input" /> </div>
           
                    <div class="input-line"> <label> Password </label> <input type="password" name="passwd" class="add-input" /> </div>

                    <p id="error"> <%= error %> </p>
            
                    <div id="action-bar"> <input type="submit" value="Accept" class="action-button sub"/> </div>
                </form>
            </div>

            <button id="new-key" class="tool-button" onclick="leave()"> <img src="./imgs/tools/back.png" class="tool-img"/>  Back </button>
            <button id="help"    class="tool-button" onclick="lock()">    <img src="./imgs/lock/white_lock.png" class="tool-img"/> Lock and Encrypt </button>
            <button id="help"    class="tool-button" onclick="deleteCon()">    <img src="./imgs/tools/delete.png" class="tool-img"/> Delete whole container </button>

        </div>

        <div id='containers-box'>

            <% pass_con.passwords.forEach((pass) => {  %>
                
                    <div class="pass-card" id="<%= pass.id %>">
                        <div class="pass-title"> <%= pass.title %> </div>
                        <div class="change-date"> <%= pass_con.changeConvert(pass.editDate) %> </div>
                        <input class="pass-note hidden" value="<%= pass.pass_val %>" type="password" readonly /> 

                        <div class="pass-tool show" onclick="showPass('<%= pass.id %>')"> <img src='./imgs/tools/eyeINV.png' class="pass-icon"/> </div>
                        <div class="pass-tool show" onclick="copyToClip('<%= pass.id %>')"> <img src='./imgs/tools/clipboard.png' class="pass-icon"/> </div>
                        <div class="pass-tool edit" onclick="editPass('<%= pass.id %>')"> <img src='./imgs/tools/edit.png' class="pass-icon"/> </div>
                        <div class="pass-tool delete" onclick="deletePass('<%= pass.id %>')"> <img src='./imgs/tools/delete.png' class="pass-icon"/> </div>
                    </div>
            
            <% }); %>
            

        </div>

    </div>

</div>


<script>

    let IN_EDIT_MODE = false;

    let CONFIRM_ID = -1;


    function checkDates(){

        let dates = document.getElementsByClassName('change-date');

        let now = Date.now();

        for(let i=0; i<dates.length; i++){

            let date = dates[i].innerHTML;   
            
            date = date.toString().split('.');

            date = date[1] + '/' + date[0] + '/' + date[2];

            let then = new Date(date);
            
            let span = now - then.getTime();

            span = Math.floor(span / (1000 * 3600 * 24));

            if(span < 31) dates[i].style.borderLeft = '3px solid #54FF71';
            else if(span < 52) dates[i].style.borderLeft = '3px solid #bfff80';
            else if(span < 74) dates[i].style.borderLeft = '3px solid #ffff80';
            else if(span < 90) dates[i].style.borderLeft = '3px solid #ffc34d';
            else if(span < 110) dates[i].style.borderLeft = '3px solid #ff8c1a';
            else if(span < 150) dates[i].style.borderLeft = '3px solid #ff6600';
            else dates[i].style.borderLeft = '3px solid #e60000';
        }
    }

    checkDates();

    function openContainer(ID){

        fetch('/conOpen', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},  
            
            body: JSON.stringify({ID: ID})
        }).then(() => { window.location = '/authorizedOpen'; });

    }


    function newPass(){

        document.getElementById("add-pass").onclick = hideTab;

        document.getElementById("add-img").classList.add('img-rot');

        document.getElementById("hider").classList.remove("tool-hide");
        document.getElementById("hider").classList.add("tool-reveal");

        document.getElementById("hider").style.display = 'flex';
    }

    function hideTab(){

        document.getElementById("add-pass").onclick = newPass;

        document.getElementById("add-img").classList.remove('img-rot');

        document.getElementById('hider').classList.remove("tool-reveal"); 
        document.getElementById('hider').classList.add("tool-hide");

        document.getElementById('error').innerHTML = '';

        setTimeout(() => { document.getElementById('hider').style.display = 'none'; }, 1250);  
    }   



    function cancel(){
        document.getElementById('add-con-tool').classList.remove('form-showed');
        document.getElementById('add-con-tool').classList.add('form-hidden');

        document.getElementById('add-password-button').onclick = createContainer;

        document.getElementById('add-password-button').classList.remove('button-switched');
        document.getElementById('add-password-button').classList.add('button-normal');

        document.getElementById('add-password-button').classList.remove('active');

        document.getElementById('add-img').classList.remove('img-rot');
    }


    function copyToClip(ID){

        let card = document.getElementById(ID);

        card.getElementsByClassName("pass-note")[0].type = 'text';
        card.getElementsByClassName("pass-note")[0].focus();
        card.getElementsByClassName("pass-note")[0].select();

        document.execCommand('copy');

        card.getElementsByClassName("pass-note")[0].type = 'password';

        document.getElementById('info-box').style.display = 'block';
        document.getElementById('info-box').classList.add('fade-out');

        document.getElementById('info-box').style.top = (window.event.clientY - 20) + 'px';
        document.getElementById('info-box').style.left = (window.event.clientX - 20) + 'px';

        console.log(window.event.clientY);

        setTimeout(() => {

            document.getElementById('info-box').classList.remove('fade-out');
            document.getElementById('info-box').style.display = 'none';

        }, 2400);
    }

    function leave(){

        window.location.href = '/';
    }

    function showPass(ID){

        if(!IN_EDIT_MODE){

            let card = document.getElementById(ID);

            card.getElementsByClassName('show')[0].onclick = function() { hidePass(ID); };
            card.getElementsByClassName('pass-note')[0].classList.remove('hidden');
            card.getElementsByClassName('pass-note')[0].type = "text";

            card.getElementsByClassName('pass-icon')[0].src = "./imgs/tools/eyeV.png";
        }
    }


    function hidePass(ID){

        if(!IN_EDIT_MODE){

            let card = document.getElementById(ID);

            card.getElementsByClassName('show')[0].onclick = function() { showPass(ID); };
            card.getElementsByClassName('pass-note')[0].classList.add('hidden');
            card.getElementsByClassName('pass-note')[0].type = "password";

            card.getElementsByClassName('pass-icon')[0].src = "./imgs/tools/eyeINV.png";
        }
    }


    function editPass(ID){

        IN_EDIT_MODE = true;

        let card = document.getElementById(ID);

        card.getElementsByClassName('pass-note')[0].classList.remove('hidden');
        card.getElementsByClassName('pass-note')[0].type = "text";
        card.getElementsByClassName('pass-note')[0].readOnly = false;

        card.getElementsByClassName('edit')[0].onclick = function() { accept(ID); };
        card.getElementsByClassName('edit')[0].classList.add('accept');

         // card.getElementsByClassName('edit')[0].getElementsByClassName('pass-icon')[0].src = ''
    }


    function accept(ID){

        IN_EDIT_MODE = false;

        let card = document.getElementById(ID);

        let change = card.getElementsByClassName('pass-note')[0].value;

        card.getElementsByClassName('pass-note')[0].classList.add('hidden');
        card.getElementsByClassName('pass-note')[0].type = "password";
        card.getElementsByClassName('pass-note')[0].readOnly = true;

        card.getElementsByClassName('edit')[0].onclick = function() { editPass(ID); };
        card.getElementsByClassName('edit')[0].classList.remove('accept');


        fetch('/passChange', {
            method: 'POST',
            headers: {'Content-Type': 'Application/json' },

            body: JSON.stringify({id: ID, change: change})
        });
    }

    function deletePass(ID){

        CONFIRM_ID = ID;
        document.getElementById('caution-message').innerHTML = 'Are you sure, you want to delete this password?';
        document.getElementById('confirm-area').style.display = 'flex';
        document.getElementById('del-confirm').onclick = confirmPassDeletion;
    }

    function confirmPassDeletion(){

        if(CONFIRM_ID > -1){

            fetch('/passDel', {
                method: 'POST',
                headers: {'Content-Type': 'Application/json' },

                body: JSON.stringify({id: CONFIRM_ID})
            }).then(() => { 

                back(); 
                document.getElementById('del-confirm').onclick = '';
                window.location.href = '/authorizedOpen'; 
            })
        }
    }

    function deleteCon(){

        document.getElementById('caution-message').innerHTML = 'Are you sure, you want to delete WHOLE container?';
        document.getElementById('confirm-area').style.display = 'flex';
        document.getElementById('del-confirm').onclick = confirmConDeletion;
    }

    function confirmConDeletion(){

        fetch('/conDel', {
            method: 'GET',
            headers: {'Content-Type': 'Application/json' }
        }).then(() => { 

            back();
            document.getElementById('del-confirm').onclick = '';
            window.location.href = '/'; 
        })
    }

    function back(){ 
        
        document.getElementById('confirm-area').style.display = 'none'; 
    }

    function lock(){

        fetch('/lockCon', {
            method: 'GET',
            headers: {'Content-Type': 'Application/json' },
        }).then(() => { window.location.href = '/'; })
    }

</script>